<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.10.2/mvp.css">
    <title>Login</title>
</head>

<body>
    <main>
        <section>
            <form action="{{url_for('login')}}"  method="post">
                <header>
                    <h1>SecCloud Login</h1>
                </header>
                <label for="input1">Username:</label>
                <input type="text" id="name" name="username" size="20" placeholder="User">
                <label for="textarea1">Password:</label>
                <input type="text" id="password" name="password" size="20" placeholder="********">
                <center>
                    <p>{{msg}}</p>
                    <button type="submit">Submit</button>
                </center>
            </form>
        </section>
    </main>
</body>

</html>