<div class="mdui-card mdui-m-y-2">

    <div class="mdui-card-menu">
      <button class="mdui-btn mdui-btn-icon mdui-text-color-theme-accent">
        <i class="mdui-icon material-icons">check</i>
      </button>
    </div>
    <!-- 卡片的标题和副标题 -->
    <div class="mdui-card-primary">
      <div class="mdui-card-primary-title">app.exe</div>
      <div class="mdui-card-primary-subtitle">2022-09-16</div>
    </div>

    <!-- 卡片的内容-->
    <div class="mdui-card-content">
      <div class="mdui-chip">
        <span class="mdui-chip-title">Example Chip</span>
      </div>
      <div class="mdui-chip">
        <span class="mdui-chip-title">Example Chip</span>
      </div>
      <div class="mdui-chip">
        <span class="mdui-chip-title">Example Chip</span>
      </div>
    </div>

    <!-- 卡片的按钮 -->
    <div class="mdui-card-actions mdui-float-right">
      <a class="mdui-btn mdui-ripple" href="/u/report?name=1" disabled>REPORT</a>
    </div>


  </div>
  {{card_list_html | safe}}
  <div class="mdui-card mdui-m-y-2">
    <div class="mdui-card-menu">
      <button class="mdui-btn mdui-btn-icon mdui-text-color-theme-accent">
        <i class="mdui-icon material-icons">check_box_outline_blank</i>
      </button>
    </div>
    <!-- 卡片的标题和副标题 -->
    <div class="mdui-card-primary">
      <div class="mdui-card-primary-title">Title</div>
      <div class="mdui-card-primary-subtitle">Subtitle</div>
    </div>

    <!-- 卡片的按钮 -->
    <div class="mdui-card-actions">
      <a class="mdui-btn mdui-ripple" href="/u/dashboard?msg=hi">action 1</a>
      <a class="mdui-btn mdui-ripple">action 2</a>
    </div>

  </div>